.paginationContainer {
    height: 3rem;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 235, 253);
    font-weight: bold;
}